<meta charset="utf-8" />
<header>
	<hgroup>
		<h1 class="page-titulo">SCRUMTool</h1>
		<h2>for Angile projects</h2>
	</hgroup>
	<nav class="navbar">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/scrumtool/index.html"> <!-- <img class="icon" src="/scrumtool/resources/imagens/flow.png"/> -->
							Home
					</a></li>
					<li><a href="/scrumtool/projeto.html"> <!-- <img class="icon" src="/scrumtool/resources/imagens/projeto.png" /> -->
							Projetos
					</a></li>
					<li><a href="/scrumtool/equipe.html"> <!-- <img class="icon" src="/scrumtool/resources/imagens/projeto.png" /> -->
							Equipe
					</a></li>

					<li><a href="#">Gráficos</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>